# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

In [3]:
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = data

In [5]:
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [8]:
drinks.groupby('country').beer_servings.mean().nlargest(1)

country
Namibia    376.0
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [10]:
drinks.groupby('continent').wine_servings.describe().T

continent          AF          AS          EU         OC          SA
count       53.000000   44.000000   45.000000   16.00000   12.000000
mean        16.264151    9.068182  142.222222   35.62500   62.416667
std         38.846419   21.667034   97.421738   64.55579   88.620189
min          0.000000    0.000000    0.000000    0.00000    1.000000
25%          1.000000    0.000000   59.000000    1.00000    3.000000
50%          2.000000    1.000000  128.000000    8.50000   12.000000
75%         13.000000    8.000000  195.000000   23.25000   98.500000
max        233.000000  123.000000  370.000000  212.00000  221.000000

### Step 6. Print the mean alcohol consumption per continent for every column

In [11]:
drinks.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [12]:
drinks.groupby('continent').wine_servings.median()

continent
AF      2.0
AS      1.0
EU    128.0
OC      8.5
SA     12.0
Name: wine_servings, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [13]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302